/* Main classes */
/* line 10, ../sass/style.scss */
.container {
  position: relative;
  width: 1030px;
}

/* line 15, ../sass/style.scss */
.container-full {
  width: 100%;
}

/* line 19, ../sass/style.scss */
body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #4e4e4e;
}

/* line 24, ../sass/style.scss */
.age {
  color: #21398b;
  margin-bottom: 0px;
}

/* line 29, ../sass/style.scss */
.time-left {
  font-size: 0.9em;
  margin-bottom: 0px;
}

/* line 34, ../sass/style.scss */
.date {
  color: #757575;
  margin-bottom: 0px;
  font-size: 0.9em;
}

/* line 40, ../sass/style.scss */
#main-logo {
  position: absolute;
  left: 0px;
  top: -4px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

/* NAVIGATION */
/* line 51, ../sass/style.scss */
.section-nav {
  border-top: 4px solid #009e9c;
  z-index: 10;
}

/* line 56, ../sass/style.scss */
.section-subnav {
  background-color: #eaeaea;
}

/* line 60, ../sass/style.scss */
.navigation {
  color: #21398b;
}
/* line 64, ../sass/style.scss */
.navigation a {
  text-align: center;
  color: #21398b;
  margin: 20px 0px 20px 0px;
  display: block;
  float: left;
}
/* line 71, ../sass/style.scss */
.navigation a:nth-child(1) {
  padding-right: 40px;
}
/* line 75, ../sass/style.scss */
.navigation a:nth-child(2) {
  padding-left: 40px;
  border-left: 1px solid #21398b;
}
/* line 81, ../sass/style.scss */
.navigation a:hover {
  color: #21398b;
  text-decoration: underline;
}
/* line 90, ../sass/style.scss */
.navigation .dashboard i {
  margin: 0px;
  padding-right: 10px;
}
/* line 97, ../sass/style.scss */
.navigation .dashboard a:nth-child(2) {
  padding-right: 40px;
}
/* line 101, ../sass/style.scss */
.navigation .dashboard a:nth-child(3) {
  padding-left: 40px;
  border-left: 1px solid #21398b;
}
/* line 109, ../sass/style.scss */
.navigation .search-field {
  border-radius: 5px;
  font-style: italic;
  border: 1px solid #757575;
  padding: 5px 10px 5px 10px;
  margin: 14px 0px;
}
/* line 117, ../sass/style.scss */
.navigation i {
  margin: 23px 0px;
}
/* line 121, ../sass/style.scss */
.navigation .login-block {
  opacity: 0;
}
/* line 124, ../sass/style.scss */
.navigation .login-block form {
  margin-top: 0px;
}
/* line 128, ../sass/style.scss */
.navigation .login-block form .form-control {
  margin-top: 13px;
  display: inline-block;
  width: 30%;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 145, ../sass/style.scss */
.sub-navigation a {
  font-weight: bold;
  color: #4e4e4e;
  display: block;
  float: left;
  padding: 20px 30px 20px 0px;
}
/* line 152, ../sass/style.scss */
.sub-navigation a:hover {
  color: #4e4e4e;
  text-decoration: underline;
}
/* line 159, ../sass/style.scss */
.sub-navigation .language-link {
  font-weight: normal;
  color: #21398b;
  padding-right: 0px;
  padding-left: 25px;
}
/* line 165, ../sass/style.scss */
.sub-navigation .language-link:hover {
  color: #21398b;
  font-weight: bold;
}

/*   ---------------   Homepage --------------------- */
/* SLIDER */
/* line 177, ../sass/style.scss */
.carousel,
.item,
.active {
  height: 600px;
}

/* line 183, ../sass/style.scss */
.carousel-inner {
  height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */
/* line 189, ../sass/style.scss */
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* line 199, ../sass/style.scss */
#myCarousel {
  width: 100%;
  left: 0;
}

/* line 204, ../sass/style.scss */
.carousel-caption {
  background-color: rgba(33, 57, 139, 0.7);
  margin-bottom: 80px;
  padding: 0px;
}
/* line 206, ../sass/style.scss */
.carousel-caption p a {
  padding: 20px 40px 20px 40px;
  color: white;
  text-align: left;
  display: block;
}
/* line 212, ../sass/style.scss */
.carousel-caption p a:hover {
  text-decoration: none;
}

/* line 224, ../sass/style.scss */
.icon-slider {
  position: absolute;
  left: -16px;
  top: -16px;
}

/* INFO BLOCK */
/* line 233, ../sass/style.scss */
.info-home h1, .info-home h3, .info-home p {
  text-align: center;
}
/* line 237, ../sass/style.scss */
.info-home img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* line 243, ../sass/style.scss */
.info-home h1 {
  color: #21398b;
  padding: 40px 0px;
  margin: 0px;
}
/* line 249, ../sass/style.scss */
.info-home p {
  padding: 0px 50px;
}

/* popular BLOCK */
/* line 255, ../sass/style.scss */
.section-popular {
  background-color: #eaeaea;
  margin-top: 40px;
}

/* line 260, ../sass/style.scss */
.popular-home {
  width: 100%;
  left: 0;
  margin-top: 15px;
  padding-bottom: 99px;
}
/* line 266, ../sass/style.scss */
.popular-home h1 {
  text-align: center;
  color: #21398b;
  padding: 30px 0px;
  margin: 0px;
}
/* line 273, ../sass/style.scss */
.popular-home .popular-image {
  height: 150px;
  width: 100%;
  margin: 0px auto;
  display: block;
  margin-bottom: 5px;
  background-position: center;
  -webkit-background-size: cover;
}
/* line 283, ../sass/style.scss */
.popular-home .popular-image-big {
  height: 305px;
  background-position: center;
  -webkit-background-size: cover;
}
/* line 289, ../sass/style.scss */
.popular-home .popular-left {
  padding-right: 0px;
}
/* line 293, ../sass/style.scss */
.popular-home .popular-right {
  padding-left: 5px;
}

/* Footer */
/* line 301, ../sass/style.scss */
.section-footer {
  border-top: 1px solid #eaeaea;
  margin-top: 100px;
}

/* line 307, ../sass/style.scss */
.footer a {
  color: #009e9c;
  text-align: left;
  width: 100%;
  display: block;
}
/* line 312, ../sass/style.scss */
.footer a:hover {
  text-decoration: underline;
}
/* line 316, ../sass/style.scss */
.footer .search-field {
  border-radius: 5px;
  font-style: italic;
  border: 1px solid #757575;
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
}
/* line 323, ../sass/style.scss */
.footer .copyright-text {
  margin-top: 100px;
  padding-bottom: 20px;
  font-size: 0.9em;
}
/* line 328, ../sass/style.scss */
.footer .email-link {
  display: inline;
  text-decoration: underline;
}
/* line 333, ../sass/style.scss */
.footer i {
  padding-right: 5px;
}
/* line 337, ../sass/style.scss */
.footer p {
  margin-bottom: 0px;
}
/* line 340, ../sass/style.scss */
.footer h4 {
  margin-bottom: 0px;
}
/* line 343, ../sass/style.scss */
.footer div {
  padding-top: 20px;
}
/* line 346, ../sass/style.scss */
.footer .left-border {
  border-left: 1px solid #eaeaea;
  padding-left: 30px;
}
/* line 350, ../sass/style.scss */
.footer .social-logos {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 354, ../sass/style.scss */
.footer .social-logos img {
  padding-right: 5px;
}

/* line 360, ../sass/style.scss */
#footer-logo {
  position: absolute;
  left: 0px;
  box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.46);
  z-index: 100;
  bottom: 0px;
}

/* line 368, ../sass/style.scss */
.section-footer-subnav {
  border-bottom: 4px solid #009e9c;
}

/* Newest item section */
/* line 375, ../sass/style.scss */
.section-newest {
  background-position: center;
  -webkit-background-size: cover;
}
/* line 379, ../sass/style.scss */
.section-newest i {
  padding-left: 5px;
}

/* line 385, ../sass/style.scss */
.auction-caption {
  background-color: rgba(33, 57, 139, 0.7);
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* line 392, ../sass/style.scss */
.auction-caption h3, .auction-caption p {
  padding: 5px 20px 5px 20px;
}
/* line 396, ../sass/style.scss */
.auction-caption h3 {
  color: white;
}
/* line 399, ../sass/style.scss */
.auction-caption p {
  color: white;
  text-align: left;
}
/* line 404, ../sass/style.scss */
.auction-caption .visit-auction {
  background-color: white;
  padding: 15px 20px 15px 20px;
}
/* line 408, ../sass/style.scss */
.auction-caption .visit-auction a {
  color: #009e9c;
}

/*breacrumbs */
/* line 417, ../sass/style.scss */
.breadcrumb {
  padding: 35px 0px 0px 0px;
  background-color: transparent;
}
/* line 422, ../sass/style.scss */
.breadcrumb li + li:before {
  padding: 0 5px;
  color: #009e9c;
  content: ">";
}
/* line 428, ../sass/style.scss */
.breadcrumb li a {
  color: #009e9c;
  text-decoration: none;
}
/* line 432, ../sass/style.scss */
.breadcrumb li a:hover {
  text-decoration: underline;
}
/* line 438, ../sass/style.scss */
.breadcrumb .active {
  height: auto;
  color: #009e9c;
}

/* Details  pagina */
/* line 448, ../sass/style.scss */
.details h3 {
  color: black;
}
/* line 453, ../sass/style.scss */
.details .top-details i {
  padding-left: 10px;
  color: #21398b;
}
/* line 457, ../sass/style.scss */
.details .top-details a {
  color: #21398b;
}
/* line 462, ../sass/style.scss */
.details .big-image {
  width: 100%;
  height: 350px;
  background-position: center;
  -webkit-background-size: cover;
}
/* line 469, ../sass/style.scss */
.details .small-images {
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 475, ../sass/style.scss */
.details .small-images .small-image {
  width: 32%;
  float: left;
  height: 110px;
  background-position: center;
  -webkit-background-size: cover;
}
/* line 482, ../sass/style.scss */
.details .small-images .small-image:nth-child(2) {
  margin-left: 2%;
  margin-right: 2%;
}
/* line 490, ../sass/style.scss */
.details .short-details {
  text-align: right;
  padding-left: 80px;
}
/* line 494, ../sass/style.scss */
.details .short-details h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
/* line 499, ../sass/style.scss */
.details .short-details .time-left {
  color: #009e9c;
  margin-bottom: 0px;
}
/* line 504, ../sass/style.scss */
.details .short-details .text {
  margin-bottom: 0px;
}
/* line 508, ../sass/style.scss */
.details .short-details .more {
  color: black;
  text-decoration: underline;
  margin-bottom: 30px;
  display: block;
  font-weight: bold;
}
/* line 515, ../sass/style.scss */
.details .short-details .more:hover {
  text-decoration: none;
}
/* line 521, ../sass/style.scss */
.details .short-details .bid-now {
  border: 1px solid #eaeaea;
  padding-right: 15px;
}
/* line 525, ../sass/style.scss */
.details .short-details .bid-now h5, .details .short-details .bid-now h3 {
  color: #21398b;
}
/* line 530, ../sass/style.scss */
.details .short-details .bid-now .buy-now {
  color: #009e9c;
  text-decoration: underline;
}
/* line 533, ../sass/style.scss */
.details .short-details .bid-now .buy-now:hover {
  text-decoration: none;
}
/* line 538, ../sass/style.scss */
.details .short-details .bid-now .bid-now-sub {
  margin-right: -15px;
  background-color: #009e9c;
  color: white;
  padding: 10px 15px 10px 0px;
}
/* line 544, ../sass/style.scss */
.details .short-details .bid-now .bid-now-sub i {
  padding-left: 5px;
}
/* line 548, ../sass/style.scss */
.details .short-details .bid-now .bid-now-sub p {
  margin-bottom: 0px;
  font-weight: bold;
}
/* line 553, ../sass/style.scss */
.details .short-details .bid-now .bid-now-sub input {
  width: 100px;
  color: black;
  margin-right: 20px;
}
/* line 560, ../sass/style.scss */
.details .short-details .bid-now .add-watchlist {
  padding: 10px 0px 0px 0px;
  text-align: center;
  margin-right: -15px;
}
/* line 565, ../sass/style.scss */
.details .short-details .bid-now .add-watchlist a {
  color: #21398b;
  text-decoration: underline;
}
/* line 569, ../sass/style.scss */
.details .short-details .bid-now .add-watchlist a:hover {
  text-decoration: none;
}
/* line 575, ../sass/style.scss */
.details .short-details .bid-now .add-watchlist i {
  padding-right: 10px;
}
/* line 581, ../sass/style.scss */
.details .description-auction {
  border: 1px solid #eaeaea;
  margin: 45px 0px 45px 0px;
  padding: 35px 5px 35px 5px;
  display: inline-block;
}
/* line 588, ../sass/style.scss */
.details .description-auction h6 {
  font-weight: bold;
  margin-bottom: 0px;
  color: black;
}
/* line 595, ../sass/style.scss */
.details .description-auction .description-left {
  padding: 0px 45px 0px 15px;
}
/* line 600, ../sass/style.scss */
.details .description-auction .description-right {
  border-left: 1px solid #eaeaea;
  padding-left: 25px;
}
/* line 605, ../sass/style.scss */
.details .description-auction .description-right p {
  margin-bottom: 0px;
}
/* line 609, ../sass/style.scss */
.details .description-auction .description-right div {
  margin-top: 60px;
  background-color: #757575;
  color: white;
  padding: 5px 10px 5px 10px;
  text-align: center;
  font-weight: bold;
}

/* RELATED */
/* line 623, ../sass/style.scss */
.section-related {
  background-color: #f4f4f4;
  padding-bottom: 50px;
}

/* line 630, ../sass/style.scss */
.related-items h3 {
  color: #21398b;
  margin-top: 40px;
}

/* preview block (detailspagina + profile pagina)*/
/* line 639, ../sass/style.scss */
.auction-preview {
  display: block;
  float: left;
  width: 25%;
  height: auto;
  padding: 0 3px;
  overflow: hidden;
}
/* line 648, ../sass/style.scss */
.auction-preview .auction-image {
  display: block;
  width: 250px;
  height: 250px;
  background-position: center;
  -webkit-background-size: cover;
}
/* line 656, ../sass/style.scss */
.auction-preview .auction-image span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
}
/* line 666, ../sass/style.scss */
.auction-preview .auction-image span i {
  font-size: 6rem;
  line-height: 250px;
  color: white;
}
/* line 673, ../sass/style.scss */
.auction-preview .auction-image:hover span {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 679, ../sass/style.scss */
.auction-preview .auction-info {
  width: 100%;
  padding: 15px;
}
/* line 683, ../sass/style.scss */
.auction-preview .auction-info span {
  display: block;
}
/* line 687, ../sass/style.scss */
.auction-preview .auction-info .artist {
  color: #21398b;
  font-size: 1.5rem;
}
/* line 692, ../sass/style.scss */
.auction-preview .auction-info .title {
  font-size: 2rem;
}
/* line 696, ../sass/style.scss */
.auction-preview .auction-info .call-to-action {
  border-bottom: 1px solid #eaeaea;
}
/* line 699, ../sass/style.scss */
.auction-preview .auction-info .call-to-action .timeleft {
  display: inline-block;
  font-size: 1.3rem;
  line-height: 51px;
}
/* line 705, ../sass/style.scss */
.auction-preview .auction-info .call-to-action .btn-visit-auction {
  float: right;
  padding: 15px 10px;
  background-color: #f4f4f4;
  font-size: 1.4rem;
  color: #21398b;
  text-transform: uppercase;
  border-radius: 0;
  border-top: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-bottom: none;
}

/* Watchlist and Auctions gemeenschappelijke classes*/
/* line 726, ../sass/style.scss */
.my-auctions, .my-watchlist {
  color: #4e4e4e;
}
/* line 729, ../sass/style.scss */
.my-auctions .table, .my-watchlist .table {
  margin-top: 15px;
}
/* line 733, ../sass/style.scss */
.my-auctions .table h3, .my-watchlist .table h3 {
  margin: 0px;
}
/* line 737, ../sass/style.scss */
.my-auctions .table th, .my-watchlist .table th {
  background-color: #f4f4f4;
  border: 0px;
  font-weight: normal;
}
/* line 744, ../sass/style.scss */
.my-auctions .table .img-preview, .my-watchlist .table .img-preview {
  width: 136px;
  height: 136px;
  border-bottom: 0px;
  border-top: 0px;
}
/* line 753, ../sass/style.scss */
.my-auctions .add-button, .my-watchlist .add-button {
  padding: 20px 15px 20px 15px;
  border: 1px solid #e5e5e5;
  background-color: #f4f4f4;
  display: block;
  color: #21398b;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
/* line 762, ../sass/style.scss */
.my-auctions .add-button:hover, .my-watchlist .add-button:hover {
  text-decoration: underline;
  border-bottom: 1px solid #e5e5e5;
}
/* line 767, ../sass/style.scss */
.my-auctions .add-button i, .my-watchlist .add-button i {
  padding-left: 10px;
}

/* My auctions */
/* line 781, ../sass/style.scss */
.my-auctions .table td:nth-child(n+2) {
  padding: 0px 25px 0px 25px;
  vertical-align: middle;
}
/* line 786, ../sass/style.scss */
.my-auctions .table td:nth-child(n+3) {
  text-align: center;
}
/* line 793, ../sass/style.scss */
.my-auctions .table th:nth-child(2) {
  padding-left: 25px;
}
/* line 797, ../sass/style.scss */
.my-auctions .table th:nth-child(n+3) {
  text-align: center;
}

/* my watchlist */
/* line 809, ../sass/style.scss */
.my-watchlist .filter {
  margin-left: 31px;
}
/* line 813, ../sass/style.scss */
.my-watchlist .filter a.active {
  height: auto;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 3px solid #eaeaea;
}
/* line 820, ../sass/style.scss */
.my-watchlist .filter a {
  padding-bottom: 5px;
  color: #4e4e4e;
}
/* line 824, ../sass/style.scss */
.my-watchlist .filter a:hover {
  font-weight: bold;
  text-decoration: none;
  border-bottom: 3px solid #eaeaea;
}
/* line 832, ../sass/style.scss */
.my-watchlist .table {
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
}
/* line 838, ../sass/style.scss */
.my-watchlist .table .tbody {
  border-left: 0px;
}
/* line 844, ../sass/style.scss */
.my-watchlist .table td:nth-child(1) {
  background-color: transparent;
  border: 0px;
  vertical-align: middle;
}
/* line 849, ../sass/style.scss */
.my-watchlist .table td:nth-child(1) input[type=checkbox] {
  background: transparent;
  border-radius: 0px;
}
/* line 855, ../sass/style.scss */
.my-watchlist .table td:nth-child(n+3) {
  padding: 0px 25px 0px 25px;
  vertical-align: middle;
}
/* line 860, ../sass/style.scss */
.my-watchlist .table td:nth-child(n+4) {
  text-align: center;
}
/* line 865, ../sass/style.scss */
.my-watchlist .table th {
  border-top: 1px solid #eaeaea;
}
/* line 870, ../sass/style.scss */
.my-watchlist .table th:nth-child(1) {
  background-color: transparent;
  border: 0px;
}
/* line 875, ../sass/style.scss */
.my-watchlist .table th:nth-child(2) {
  border-left: 1px solid #eaeaea;
}
/* line 879, ../sass/style.scss */
.my-watchlist .table th:nth-child(3) {
  padding-left: 25px;
}
/* line 883, ../sass/style.scss */
.my-watchlist .table th:nth-child(n+4) {
  text-align: center;
}

/* forms styling */
/* line 893, ../sass/style.scss */
form {
  margin-top: 50px;
}
/* line 896, ../sass/style.scss */
form .form-info {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
/* line 900, ../sass/style.scss */
form .form-info p {
  margin-bottom: 0;
}
/* line 905, ../sass/style.scss */
form .form-group {
  margin-bottom: 30px;
}
/* line 909, ../sass/style.scss */
form label {
  font-weight: normal;
  color: #21398b;
}
/* line 913, ../sass/style.scss */
form label .optional {
  font-size: 1.4rem;
}
/* line 918, ../sass/style.scss */
form .form-control {
  height: auto;
  padding: 10px 15px;
  background-color: #f4f4f4;
  color: #4e4e4e;
  border: 1px solid #eaeaea;
  border-radius: 0;
  box-shadow: none;
}
/* line 928, ../sass/style.scss */
form .form-control:focus {
  border-color: #b7b7b7;
  outline: none;
  box-shadow: none;
}
/* line 935, ../sass/style.scss */
form select.form-control {
  padding: 10px 15px;
}
/* line 938, ../sass/style.scss */
form select.form-control option {
  padding: 10px 15px;
  background-color: #f4f4f4;
}
/* line 942, ../sass/style.scss */
form select.form-control option:hover {
  background-color: #e7e7e7;
}
/* line 948, ../sass/style.scss */
form textarea.form-control {
  height: 120px;
}
/* line 953, ../sass/style.scss */
form .checkbox label {
  color: #4e4e4e;
}
/* line 957, ../sass/style.scss */
form .checkbox a {
  color: #009e9c;
  text-decoration: underline;
}
/* line 965, ../sass/style.scss */
form .fileupload .bootstrap-filestyle {
  width: 100%;
}
/* line 969, ../sass/style.scss */
form .fileupload .btn-default {
  display: block;
  width: 100%;
  height: 62px;
  padding: 10px 20px;
  background-color: #686868;
  color: white;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0;
  border: 1px solid #4e4e4e;
}
/* line 985, ../sass/style.scss */
form .btn-primary {
  width: 270px;
  padding: 15px 40px;
  background-color: #009e9c;
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
}
/* line 997, ../sass/style.scss */
form .btn-primary:hover {
  background-color: #009e9c;
}
/* line 1002, ../sass/style.scss */
form .askquestion {
  text-align: center;
  margin-top: 30px;
}
/* line 1006, ../sass/style.scss */
form .askquestion a {
  color: #009e9c;
  text-transform: uppercase;
}

/* profile pagina */
/* line 1015, ../sass/style.scss */
.panel-profile {
  border-color: #eaeaea;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 60px;
}
/* line 1021, ../sass/style.scss */
.panel-profile .panel-body {
  padding-left: 40px;
}
/* line 1025, ../sass/style.scss */
.panel-profile h2 {
  margin: 0 0 20px;
}
/* line 1029, ../sass/style.scss */
.panel-profile p {
  margin: 0;
}
/* line 1033, ../sass/style.scss */
.panel-profile .email a {
  color: #009e9c;
  text-decoration: underline;
}

/* line 1039, ../sass/style.scss */
.active-auctions-slider {
  position: relative;
  margin-top: 30px;
  margin-bottom: 0;
}
/* line 1044, ../sass/style.scss */
.active-auctions-slider .auction-preview {
  z-index: 0;
}
/* line 1048, ../sass/style.scss */
.active-auctions-slider .slider-prev,
.active-auctions-slider .slider-next {
  position: absolute;
  display: block;
  width: 40px;
  height: 250px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
/* line 1059, ../sass/style.scss */
.active-auctions-slider .slider-prev i,
.active-auctions-slider .slider-next i {
  color: rgba(255, 255, 255, 0.7);
  font-size: 3rem;
  line-height: 250px;
}
/* line 1066, ../sass/style.scss */
.active-auctions-slider .slider-prev {
  margin-left: 3px;
}
/* line 1069, ../sass/style.scss */
.active-auctions-slider .slider-prev i {
  margin-left: 5px;
}
/* line 1074, ../sass/style.scss */
.active-auctions-slider .slider-next {
  top: 0;
  right: 0;
  margin-right: 15px;
}
/* line 1079, ../sass/style.scss */
.active-auctions-slider .slider-next i {
  margin-left: 14px;
}

/* faq pagina*/
/* line 1089, ../sass/style.scss */
.faqs .faq-overview {
  border: 1px solid #eaeaea;
  padding: 40px 50px;
  margin-top: 40px;
}
/* line 1095, ../sass/style.scss */
.faqs .faq-overview a {
  display: block;
  color: #009e9c;
  text-decoration: underline;
  font-weight: bold;
}
/* line 1100, ../sass/style.scss */
.faqs .faq-overview a:hover {
  text-decoration: none;
}
/* line 1107, ../sass/style.scss */
.faqs .question {
  color: #21398b;
}
/* line 1111, ../sass/style.scss */
.faqs .question p, .faqs .question h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}
/* line 1117, ../sass/style.scss */
.faqs .question p {
  font-size: 1.4em;
}
/* line 1122, ../sass/style.scss */
.faqs .answer {
  height: auto;
}
/* line 1125, ../sass/style.scss */
.faqs .answer h3 {
  font-weight: bold;
}
/* line 1129, ../sass/style.scss */
.faqs .answer p, .faqs .answer h3 {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 30px;
}
/* line 1137, ../sass/style.scss */
.faqs hr {
  margin: 0px;
}

/* errors */
/* line 1144, ../sass/style.scss */
.alert-danger {
  color: red;
  border: 0px;
}

/* line 1149, ../sass/style.scss */
.alert {
  border-radius: 0px;
}
