$blauw : #21398b;
$groen : #009e9c;
$dgrey: #757575;
$lgrey : #f4f4f4;
$border: #eaeaea;
$txtcolor : #4e4e4e;

/* Main classes */

.container {
    position: relative;
    width : 1030px;
}

.container-full {
    width: 100%;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: $txtcolor;
}

.age {
    color: $blauw;
    margin-bottom: 0px;
}

.time-left {
    font-size: 0.9em;
    margin-bottom: 0px;
}

.date {
    color: $dgrey;
    margin-bottom: 0px;
    font-size: 0.9em;
}

#main-logo {
    position: absolute;
    left: 0px;
    top: -4px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.40);
    z-index: 100;
}

/* NAVIGATION */ 


.section-nav {
    border-top: 4px solid $groen;
    z-index: 10;
}

.section-subnav {
    background-color: $border;
}

.navigation {

    color: $blauw;

    a {
        text-align: center;
        color : $blauw;
        margin: 20px 0px 20px 0px; 
        display : block;
        float: left;

        &:nth-child(1){
                padding-right : 40px;
        }

        &:nth-child(2){
                padding-left : 40px;
                border-left: 1px solid $blauw;
        }


        &:hover{
                color : $blauw;
                text-decoration:underline;
        }


    }

    .dashboard {
        i { 
            margin : 0px;
            padding-right: 10px;
        }

        a { 

            &:nth-child(2){
                padding-right : 40px;
            }

            &:nth-child(3){
                padding-left : 40px;
                border-left: 1px solid $blauw;
            }

        }
    }

    .search-field{
        border-radius: 5px;
        font-style: italic;
        border : 1px solid $dgrey;
        padding: 5px 10px 5px 10px;
        margin: 14px 0px;
    }

    i{
        margin: 23px 0px;
    }

    .login-block {
        opacity: 0;

        form {
            
            margin-top: 0px;

            .form-control {
                margin-top: 13px;
                display: inline-block;
                width: 30%;
                padding-top: 5px;
                padding-bottom: 5px;

            }

        }

    }

}

.sub-navigation {

    a{
        font-weight: bold;
        color : $txtcolor;
        display: block;
        float: left;
        padding: 20px 30px 20px 0px;

        &:hover{
            color : $txtcolor;
            text-decoration: underline;
        }

    }

    .language-link {
        font-weight: normal;
        color : $blauw;
        padding-right: 0px;
        padding-left: 25px;

        &:hover{
            color : $blauw;
            font-weight: bold;
        }
    }
}

/*   ---------------   Homepage --------------------- */ 

/* SLIDER */


.carousel,
.item,
.active {
    height: 600px;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#myCarousel {
    width: 100%;
    left: 0;
}

.carousel-caption {
    p{
        a {
                padding : 20px 40px 20px 40px;
                color: white;
                text-align: left;
                display: block;

                &:hover {
                    text-decoration: none;
                }
        }
    }

    background-color: rgba(33, 57, 139, 0.7);
    margin-bottom: 80px;
    padding : 0px;

}

.icon-slider {
    position : absolute;
    left : -16px;
    top : -16px;
}

/* INFO BLOCK */

.info-home {
    h1, h3, p {
        text-align : center;
    }

    img {
          margin-left: auto;
          margin-right: auto;
          display: block
    }

    h1 {
        color: $blauw;
        padding: 40px 0px;
        margin : 0px;
    }

    p {
        padding: 0px 50px;
    }
}

/* popular BLOCK */ 
.section-popular {
    background-color: $border;
    margin-top: 40px;
}

.popular-home {
    width: 100%;
    left: 0;
    margin-top: 15px;
    padding-bottom: 99px;

    h1 {
        text-align : center;
        color: $blauw;
        padding: 30px 0px;
        margin : 0px;
    }

    .popular-image {
        height : 150px;
        width : 100%;
        margin: 0px auto;
        display : block;
        margin-bottom: 5px;
        background-position: center;
        -webkit-background-size: cover;
    }

    .popular-image-big {
        height : 305px;
        background-position: center;
        -webkit-background-size: cover;
    }

    .popular-left {
        padding-right: 0px;
    }

    .popular-right {
        padding-left: 5px;
    }

}


/* Footer */
.section-footer {
    border-top: 1px solid $border;
    margin-top: 100px;
}

.footer {
    a {
        color: $groen;
        text-align: left;
        width: 100%;
        display: block;
        &:hover{
            text-decoration: underline;
        }
    }
    .search-field{
        border-radius: 5px;
        font-style: italic;
        border : 1px solid $dgrey;
        padding: 5px 10px 5px 10px;
        margin-top: 10px;
    }
    .copyright-text{
        margin-top : 100px;
        padding-bottom: 20px;
        font-size: 0.9em;
    }
    .email-link {
        display: inline;
        text-decoration : underline;
    }

    i {
        padding-right: 5px;
    }

    p {
        margin-bottom: 0px;
    }
    h4 {
        margin-bottom: 0px;
    }
    div {
        padding-top: 20px;
    }
    .left-border {
        border-left: 1px solid $border;
        padding-left: 30px;
    }
    .social-logos {
        padding-top: 20px;
        padding-bottom: 20px;

        img{
                    padding-right: 5px;
        }
    }

}
#footer-logo {
    position: absolute;
    left: 0px;
    box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.46);
    z-index: 100;
    bottom: 0px;
}

.section-footer-subnav {
    border-bottom: 4px solid $groen;
}


/* Newest item section */ 

.section-newest {
    background-position: center;
    -webkit-background-size: cover;

    i{
        padding-left: 5px;
    }
}


.auction-caption{

    background-color: rgba(33, 57, 139, 0.7);
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 50px;

    h3, p {
        padding : 5px 20px 5px 20px;
    }

    h3 {
        color: white;
    }
    p {
            color: white;
            text-align: left;
    }

    .visit-auction {
        background-color: white;
        padding : 15px 20px 15px 20px;

        a{
            color: $groen;
        }

    }
}

/*breacrumbs */ 

.breadcrumb {

    padding : 35px 0px 0px 0px;
    background-color: transparent;

    li+li:before {
        padding: 0 5px;
        color: $groen;
        content: ">";
    }

    li a{
        color: $groen;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    

    .active {
        height: auto;
        color: $groen;
    }
}

/* Details  pagina */
.details {


    h3{
        color: black;
    }

    .top-details {
        i{
            padding-left: 10px;
            color: $blauw;
        }
        a{
            color: $blauw;
        }
    }

    .big-image {
        width: 100%;
        height: 350px;
        background-position: center;
        -webkit-background-size: cover;
    }

    .small-images
    {
        margin-top: 10px;
        padding-left: 0px;
        padding-right: 0px;

        .small-image{
            width : 32%;
            float: left;
            height: 110px;
            background-position: center;
            -webkit-background-size: cover;

            &:nth-child(2){
                margin-left: 2%;
                margin-right: 2%;
            }
        }

    }

    .short-details {
        text-align: right;
        padding-left: 80px;

        h3 {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .time-left{
            color: $groen;
            margin-bottom: 0px;
        }

        .text{
            margin-bottom: 0px;
        }

        .more {
            color: black;
            text-decoration: underline;
            margin-bottom: 30px;
            display:block;
            font-weight: bold;

            &:hover{
                text-decoration: none;
            }
        }


        .bid-now {
            border: 1px solid $border;
            padding-right : 15px;

            h5, h3 {
                color: $blauw;
            }


            .buy-now {
                color: $groen;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }

            .bid-now-sub {
                margin-right: -15px;
                background-color: $groen;
                color: white;
                padding: 10px 15px 10px 0px;

                i{
                    padding-left: 5px;
                }

                p{
                    margin-bottom: 0px;
                    font-weight: bold;
                }

                input {
                    width : 100px;
                    color: black;
                    margin-right: 20px;
                }
            }

            .add-watchlist{
                padding: 10px 0px 0px 0px;
                text-align: center;
                margin-right: -15px;
                
                a{
                    color: $blauw;
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }


                i{
                    padding-right: 10px;
                }
            }
        }
    }
    .description-auction{
        border: 1px solid $border;
        margin: 45px 0px 45px 0px;
        padding: 35px 5px 35px 5px;
        display: inline-block;


        h6 {
            font-weight: bold;
            margin-bottom: 0px;
            color: black;
        }


        .description-left {
                padding: 0px 45px 0px 15px;

        }

        .description-right{

                border-left: 1px solid $border;
                padding-left: 25px;

                p {
                    margin-bottom: 0px;
                }

                div{
                    margin-top: 60px;
                    background-color: $dgrey;
                    color:white;
                    padding: 5px 10px 5px 10px;
                    text-align: center;
                    font-weight: bold;
                }
        }
    }
}


/* RELATED */ 
.section-related {
    background-color:  $lgrey;
    padding-bottom: 50px;
}

.related-items {
    
    h3 {
        color: $blauw;
        margin-top: 40px;
    }

}

/* preview block (detailspagina + profile pagina)*/ 

.auction-preview {
    display: block;
    float: left;
    width: 25%;
    height: auto;
    padding: 0 3px;

    overflow: hidden;

    .auction-image {
        display: block;
        width: 250px;
        height: 250px;

        background-position: center;
        -webkit-background-size: cover;

        span {
            display: block;
            width: 100%;
            height: 100%;

            text-align: center;
            opacity: 0;

            -webkit-transition: all 0.3s ease;

            i {
                font-size: 6rem;
                line-height: 250px;
                color: white;
            }
        }

        &:hover span {
            opacity: 1;
            background-color: rgba(black, 0.4);
        }
    }

    .auction-info {
        width: 100%;
        padding: 15px;

        span {
            display: block;
        }

        .artist {
            color: $blauw;
            font-size: 1.5rem;
        }

        .title {
            font-size: 2rem;
        }
        
        .call-to-action {
            border-bottom: 1px solid $border;

            .timeleft {
                display: inline-block;
                font-size: 1.3rem;
                line-height: 51px;
            }

            .btn-visit-auction {
                float: right;
                padding: 15px 10px;
                background-color: $lgrey;
                
                font-size: 1.4rem;
                color: $blauw;
                text-transform: uppercase;

                border-radius: 0;
                border-top: 1px solid $border;
                border-right: 1px solid $border;
                border-left: 1px solid $border;
                border-bottom: none;
            }
        }
    }
}

/* Watchlist and Auctions gemeenschappelijke classes*/ 

.my-auctions, .my-watchlist {
    color : $txtcolor;

    .table {

        margin-top : 15px;

        h3 {
            margin: 0px;
        }

        th {
            background-color: $lgrey;
            border: 0px;
            font-weight: normal;
        }

        
        .img-preview {
            width: 136px;
            height : 136px;
            border-bottom: 0px;
            border-top: 0px;
        }
    }


     .add-button {
        padding: 20px 15px 20px 15px;
        border: 1px solid #e5e5e5;
        background-color: $lgrey;
        display: block;
        color: $blauw;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        &:hover {
            text-decoration: underline;
            border-bottom: 1px solid #e5e5e5;
        }

        i{
            padding-left: 10px;
        }
    }

}

/* My auctions */ 

.my-auctions {

    .table{

        td {
            &:nth-child(n+2) {
                padding: 0px 25px 0px 25px;
                vertical-align: middle;
            }

            &:nth-child(n+3) {
                text-align: center;
            }
        }

        th {

            &:nth-child(2) {
                padding-left: 25px;
            }

            &:nth-child(n+3) {
                text-align: center;
            }
        }
    }

}

/* my watchlist */

.my-watchlist {

    .filter{

        margin-left: 31px;

        a.active {
                height: auto;
                font-weight: bold;
                text-decoration: none;
                border-bottom: 3px solid $border;
        }

        a{
            padding-bottom: 5px;
            color: $txtcolor;

            &:hover{
                font-weight: bold;
                text-decoration: none;
                border-bottom: 3px solid $border;
            }
        }
    }

    .table {

         border-left: 0px;
         border-top: 0px;
         border-bottom: 0px;

        .tbody {
            border-left: 0px;
        }

        td{

            &:nth-child(1){
                background-color: transparent;
                border: 0px;
                vertical-align: middle;

                input[type=checkbox] {
                    background: transparent;
                    border-radius: 0px;
                }
            }

            &:nth-child(n+3) {
                padding: 0px 25px 0px 25px;
                vertical-align: middle;
            }

            &:nth-child(n+4) {
                text-align: center;
            }
        }

        th {

            border-top: 1px solid $border;


            &:nth-child(1){
                background-color: transparent;
                border: 0px;
            }

            &:nth-child(2){
                border-left: 1px solid $border;
            }

            &:nth-child(3) {
                padding-left: 25px;
            }

            &:nth-child(n+4) {
                text-align: center;
            }
        }
    }
}


/* forms styling */

form {
    margin-top: 50px;

    .form-info {
        font-size: 1.5rem;
        margin-bottom: 30px;

        p {
            margin-bottom: 0;
        }
    }

    .form-group {
        margin-bottom: 30px;
    }

    label {
        font-weight: normal;
        color: $blauw;

        .optional {
            font-size: 1.4rem;
        }
    }

    .form-control {
        height: auto;
        padding: 10px 15px;

        background-color: $lgrey;
        color: $txtcolor;
        border: 1px solid $border;
        border-radius: 0;
        box-shadow: none;

        &:focus {
            border-color: darken($border, 20%);
            outline: none;
            box-shadow: none;
        }
    }

    select.form-control {
        padding: 10px 15px;

        option {
            padding: 10px 15px;
            background-color: $lgrey;
            
            &:hover {
                background-color: darken($lgrey, 5%);
            }
        }
    }

    textarea.form-control {
        height: 120px;
    }

    .checkbox {
        label {
            color: $txtcolor;
        }

        a {
            color: $groen;
            text-decoration: underline;
        }
    }

    .fileupload {

        .bootstrap-filestyle {
            width: 100%;
        }

        .btn-default {
            display: block;
            width: 100%;
            height: 62px;
            padding: 10px 20px;

            background-color: lighten($txtcolor, 10%);
            color: white;
            text-transform: uppercase;
            text-align: center;

            border-radius: 0;
            border: 1px solid $txtcolor;
        }
    }

    .btn-primary {
        width: 270px;
        padding: 15px 40px;

        background-color: $groen;
        color: white;
        font-size: 1.8rem;
        text-transform: uppercase;

        border-radius: 0;
        border: none;

        &:hover {
            background-color: $groen;
        }
    }

    .askquestion {
        text-align: center;
        margin-top: 30px;

        a {
            color: $groen;
            text-transform: uppercase;
        }
    }
} 

/* profile pagina */

.panel-profile {
    border-color: $border;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 60px;

    .panel-body {
        padding-left: 40px;
    }

    h2 {
        margin: 0 0 20px;
    }

    p {
        margin: 0;
    }

    .email a {
        color: $groen;
        text-decoration: underline;
    }
}

.active-auctions-slider {
    position: relative;
    margin-top: 30px;
    margin-bottom: 0;

    .auction-preview {
        z-index: 0;
    }

    .slider-prev,
    .slider-next {
        position: absolute;
        display: block;
        width: 40px;
        height: 250px;
        z-index: 1;
        
        background-color: rgba(black, 0.5);
        cursor: pointer;

        i {
            color: rgba(white, 0.7);
            font-size: 3rem;
            line-height: 250px;
        }
    }

    .slider-prev {
        margin-left: 3px;

        i {
            margin-left: 5px;
        }
    }

    .slider-next {
        top: 0;
        right: 0;
        margin-right: 15px;

        i {
            margin-left: 14px;
        }
    }
}


/* faq pagina*/

.faqs {
    .faq-overview {

        border: 1px solid $border;
        padding: 40px 50px;
        margin-top: 40px;

        a{
            display: block;
            color: $groen;
            text-decoration: underline;
            font-weight: bold;
            &:hover {
                text-decoration: none;
            }
        }

    }

    .question {
        color: $blauw;


        p, h3{
            margin-top: 40px;
            margin-bottom: 20px;
            font-weight: bold;
        }

        p{
            font-size: 1.4em;
        }
     }

    .answer {
        height : auto;
        
        h3 {
            font-weight: bold;
        }

        p, h3{
            margin-bottom: 0px;
            margin-top: 0px;
            padding-bottom: 30px;
        }

    }
    
    hr {
        margin: 0px;
    }
}

/* errors */

.alert-danger {
    color : red;
    border: 0px;
}

.alert {
    border-radius: 0px;
}